:host {
    display: flex;
    max-width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;

    &:hover .add {
        opacity: 1;
    }
}

@container settings-content (max-width: 42rem) {
    :host {
        flex-wrap: wrap;
        overflow-x: visible;
        gap: .25rem;
    }
}

.item {
    display: flex;
    flex: none;

    .body {
        flex: none;
        display: flex;

        .stroke {
            flex: none;
        }
    }

    .remove {
        flex: none;
    }
}

.add {
    flex: auto;
    opacity: 0;
    white-space: nowrap;

    &:first-child {
        opacity: 1;
    }
}
